#wrapper{
    width: 80%;
    margin: 0 auto;
}

#news-feed-header{
    border: 3px solid #426C98;
    border-radius: 5px;
    padding: 2%;
    margin-bottom: 3%;
}

.post-author-img{
    width: 64px;
    height: 64px;
}

.add-post{
    width: 50%;
    margin-bottom: 3%;
}

#add-post-button{
    margin-top: 3%;
}