<div class="col-lg-6">
    <div class="well bs-component">
        <form class="form-horizontal">
            <fieldset>
                <legend>Change Password</legend>
                <div class="form-group">
                    <label for="old-password" class="col-lg-2 control-label">Old Password</label>
                    <div class="col-lg-10">
                        <input type="password" ng-model="oldPassword" class="form-control auth" id="old-password" placeholder="Old Password (min: 6 characters)">
                    </div>
                </div>
                <div class="form-group">
                    <label for="new-password" class="col-lg-2 control-label">New Password</label>
                    <div class="col-lg-10">
                        <input type="password" ng-model="newPassword" class="form-control auth" id="new-password" placeholder="New Password  (min: 6 characters)">
                        <img ng-if="newPassword.length >= 6 && newPassword.length <= 100" class="status-tick" ng-src="img/success.png" alt=""/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="confirm-password" class="col-lg-2 control-label">Repeat Password</label>
                    <div class="col-lg-10">
                        <input type="password" ng-model="confirmPassword" class="form-control auth" id="confirm-password" placeholder="Repeat Password">
                        <img ng-if="newPassword.length >= 6 && confirmPassword == newPassword" class="status-tick" ng-src="img/success.png" alt=""/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="submit"
                                ng-click="changePassword({
                                      oldPassword: oldPassword,
                                      newPassword: newPassword,
                                      confirmPassword: confirmPassword
                                    })" class="btn btn-primary">Change
                        </button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>