<div class="comment" ng-repeat="(commentKey, comment) in post.comments">
    <div class="post-control" ng-if="comment.author.username == credentialsService.getUsername()">
        <a href="" ng-click="comment.showEditCommentInput = !comment.showEditCommentInput">Edit</a>
        <a href="" ng-click="showDialog('#confirm-comment-delete')">Delete</a>
        <div ng-include="'partials/comment-dialog-window.html'"></div>
    </div>
    <div class="comment-author-box" ng-mouseenter="comment.showUserBalloon = true" ng-mouseleave="comment.showUserBalloon = false" ng-click="comment.showUserBalloon = !comment.showUserBalloon">
        <a href="">
            <img ng-src="{{comment.author.profileImageData || 'img/anonymous.png'}}" class="comment-author-img" alt=""/>
            <span>{{comment.author.name}}</span>
        </a>
        <div ng-if="comment.showUserBalloon" class="user-info-balloon" ng-include="'partials/user-info-balloon.html'"></div>
    </div>
    <span ng-if="!comment.showEditCommentInput">{{comment.commentContent}}</span>
    <div class="edit-post" ng-if="comment.showEditCommentInput">
        <textarea ng-model="newCommentContent" class="form-control"
        ng-init="newCommentContent=comment.commentContent">{{comment.commentContent}}</textarea>
        <a class="btn btn-primary btn-xs" ng-click="editComment(post, comment, newCommentContent)">Save</a>
    </div>
    <div class="post-attributes">
        <span ng-mouseleave="comment.showTopLikesBalloon = false">
            <span>
                <a class="likes-comments"
                     ng-mouseenter="getCommentTopLikes(post, comment)"
                     ng-click="comment.showTopLikesBalloon = !comment.showTopLikesBalloon"
                     href="">({{comment.likesCount}})
                </a>
            </span>
            <div ng-if="comment.showTopLikesBalloon" class="toplikes-balloon">
                <div class="liker" ng-repeat="like in commentTopLikes.commentLikes">
                    <a href="#/users/{{like.user.username}}/wall">
                        <img class="liker-photo" ng-src="{{like.user.profileImageData  || 'img/anonymous.png'}}" alt=""/>
                        <p>{{like.user.name}}</p>
                    </a>
                </div>
                <p ng-if="commentTopLikes.totalLikeCount == 0">No Likes...</p>
            </div>
        </span>

        <a ng-if="!comment.liked && (post.author.isFriend || post.author.username == credentialsService.getUsername())"
           href="" ng-click="likeComment(post, comment, commentKey)">Like
        </a>
        <span ng-if="!comment.liked && !post.author.isFriend && post.author.username != credentialsService.getUsername()">
            Likes
        </span>
        <a ng-if="comment.liked" href="" ng-click="unlikeComment(post, comment, commentKey)">Unlike</a>
        <span class="date">{{comment.date | date:"dd/MM/yyyy 'at' h:mma"}}</span>
    </div>
</div>