<div class="comment" ng-repeat="comment in post.comments">
    <a href="#/users/{{comment.author.username}}/wall">
        <img src="{{comment.author.profileImageData}}" class="comment-author-img" alt=""/>
        <span>{{comment.author.name}}</span>
    </a>
    <span>{{comment.commentContent}}</span>
    <div class="post-attributes">
        <span><a class="likes-comments" href="">({{comment.likesCount}})</a></span>
        <a ng-if="!comment.liked" href="" ng-click="likeComment(post.id, comment.id)">Like</a>
        <span ng-if="comment.liked">Liked</span>
        <span class="date">{{comment.date | date:"dd/MM/yyyy 'at' h:mma"}}</span>
    </div>
</div>