<nav class="navbar navbar-inverse" ng-controller="NavBarController">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{credentialsService.isLogged() ? '#/news-feed': '#/'}}">Social Network</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav" ng-if="credentialsService.isLogged()">
                <li>
                    <a href="#/users/{{credentialsService.getUsername()}}">
                        <img src="{{credentialsService.getProfileImage()}}" width="32px" height="32px" alt="profileImage"/>
                        <span>{{credentialsService.getName()}}</span>
                    </a>
                </li>
                <li class="active">
                    <a href="#/users/{{credentialsService.getUsername()}}"><span class="sr-only">(current)</span></a></li>
                <li>
                    <a href="" ng-click="showRequests = !showRequests">
                        <img src="{{friendRequests.length > 0 ? 'img/friends-new-request.png': 'img/friends.png'}}" alt=""/>
                    </a>
                    <div class="popup-list" ng-include="'partials/friend-requests.html'" ng-if="showRequests"></div>
                </li>
                <li>
                    <a href="#/profile-settings">
                    <img src="img/settings.png" alt="friends"/>
                    </a>
                </li>
            </ul>
            <form class="navbar-form navbar-left" role="search" ng-if="credentialsService.isLogged()">
                <div class="form-group">
                    <input type="text" id="searchBox" ng-model="searchBox" class="form-control" ng-change="searchForUser(searchBox)" placeholder="Search">
                </div>
                <div class="popup-list" ng-include="'partials/search-results.html'" ng-if="showSearches"></div>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li ng-if="credentialsService.isLogged()"><a href="#" ng-click="logout()">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
