<blockquote class="post" ng-repeat="postKey in objectKeys(posts)" ng-init="post = posts[postKey]">
    <div class="post-control" ng-if="post.author.username == credentialsService.getUsername()">
        <a href="" ng-click="post.showEditPostInput = !post.showEditPostInput">Edit</a>
        <a href="">Delete</a>
        <span>{{showEditPostInput}}</span>
    </div>
    <div class="wall-post-to" ng-if="post.author.name != post.wallOwner.name">
        <a href="#/users/{{post.author.username}}/wall">{{post.author.name}}</a>
        >
        <a href="#/users/{{post.wallOwner.username}}/wall">{{post.wallOwner.name}}</a>
    </div>
    <div class="post-author">
        <a href="#/users/{{post.author.username}}/wall">
            <img src="{{post.author.profileImageData}}" class="post-author-img" alt=""/>
            <p class="post-author-name">{{post.author.name}}</p>
        </a>
        <span class="date">{{post.date | date:"dd/MM/yyyy 'at' h:mma"}}</span>
    </div>
    <p ng-if="!post.showEditPostInput">{{post.postContent}}</p>
    <div class="edit-post" ng-if="post.showEditPostInput">
        <textarea ng-model="newContent" class="form-control"
        ng-init="newContent=post.postContent">{{post.postContent}}</textarea>
        <a class="btn btn-primary btn-xs" ng-click="editPost(post, newContent)">Save</a>
    </div>
    <div class="posts-comments-attributes">
        <span ng-mouseleave="post.showLikesBalloon = false">
            <span>
                <a class="likes-comments"
                     ng-mouseenter="getPostTopLikes(post)"
                     ng-click="post.showLikesBalloon = !post.showLikesBalloon"
                     href="">({{post.likesCount}})
                </a>
            </span>
            <div ng-if="post.showLikesBalloon" class="toplikes-balloon"
            ng-include="'partials/top-likes.html'"></div>
        </span>
        <a ng-if="!post.liked" href="" ng-click="likePost(post)">Like</a>
        <a ng-if="post.liked" href="" ng-click="unlikePost(post)">Unlike</a>

        <span><a href="" class="likes-comments">({{post.totalCommentsCount}})</a></span>
        <a href="" ng-click="post.showCommentInput = !post.showCommentInput">Comment</a>

        <div ng-if="post.showCommentInput" class="add-comment-box">
            <textarea id="add-comment-area" class="form-control" ng-model="commentContent" placeholder="Your Comment.."></textarea>
            <a class="btn btn-primary btn-sm" ng-click="addNewComment(post, commentContent)">Add</a>
        </div>
    </div>
    <div ng-include="'partials/comments.html'"></div>
    <a href="" ng-if="post.totalCommentsCount > 3 && !post.hideAppendComments"
       ng-click="getCommentsByPostId(post)">
    Show all comments</a>
</blockquote>