<div class="modal" id="post-likes-dialog-window">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">People who like this post</h4>
            </div>
            <div class="modal-body">
                <div class="liker" ng-repeat="like in postAllLikes">
                    <a href="#/users/{{like.user.username}}" ng-click="hideDialog('#post-likes-dialog-window')">
                        <img class="liker-photo" ng-src="{{like.user.profileImageData || 'img/anonymous.png'}}" alt=""/>
                        <span>{{like.user.name}}</span>
                    </a>
                </div>
                <p ng-if="postAllLikes.totalLikeCount == 0">No Likes...</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

