<blockquote class="post" ng-repeat="postKey in objectKeys(posts)" ng-init="post = posts[postKey]">
    <div class="post-control">
        <a href="" ng-click="editPostInput = !editPostInput">Edit</a>
        <a href="" ng-click="deletePostInput = !deletePostInput">Delete</a>
    </div>
    <div class="wall-post-to" ng-if="post.author.name != post.wallOwner.name">
        <a href="#/users/{{post.author.username}}/wall">{{post.author.name}}</a>
        >
        <a href="#/users/{{post.wallOwner.username}}/wall">{{post.wallOwner.name}}</a>
    </div>
    <div class="post-author">
        <a href="#/users/{{post.author.username}}/wall">
            <img src="{{post.author.profileImageData}}" class="post-author-img" alt=""/>
            <p class="post-author-name">{{post.author.name}}</p>
        </a>
        <span class="date">{{post.date | date:"dd/MM/yyyy 'at' h:mma"}}</span>
    </div>
    <p ng-if="!editPostInput">{{post.postContent}}</p>
    <div ng-if="editPostInput">
    <textarea ng-model="newContent" class="form-control" 
    ng-init="newContent=post.postContent">{{post.postContent}}</textarea>
    <button ng-click="editPost(postKey, post.id, newContent)">Save</button>
    </div>
    <div class="posts-comments-attributes">
        <span ng-mouseleave="showHideElement(post.id)">
            <span>
                <a class="likes-comments"
                     ng-mouseenter="getPostTopLikes(post.id)"
                     ng-click="showHideElement(post.id)" 
                     href="">({{post.likesCount}})
                </a>
            </span>
            <div id="{{post.id}}" class="toplikes-balloon" 
            ng-include="'partials/top-likes.html'"></div>
        </span>
        <a ng-if="!post.liked" href="" ng-click="likePost(postKey, post.id)">Like</a>
        <a ng-if="post.liked" href="" ng-click="unlikePost(postKey, post.id)">Unlike</a>

        <span><a href="" class="likes-comments">({{post.totalCommentsCount}})</a></span>
        <a href="" ng-click="showCommentInput = !showCommentInput">Comment</a>

        <div ng-if="showCommentInput">
            <input type="text" ng-model="commentContent" placeholder="Your comment.."/>
            <button id="newCommentInput" ng-click="addNewComment(postKey, post.id, commentContent)">Add</button>
        </div>
    </div>
    <div ng-include="'partials/comments.html'"></div>
    <a href="" 
    id="{{post.id}}-show-comments"
    ng-if="post.totalCommentsCount > 3"
    ng-click="getCommentsByPostId(postKey, post.id)">
    Show all comments</a>
</blockquote>