<div class="modal" id="confirm-post-delete">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Confirm deletion</h4>
            </div>
            <div class="modal-body">
                <p>Please confirm delete of the selected post:</p>
                <img class="comment-author-img"
                     ng-src="{{postToDelete.post.author.profileImageData}}" alt=""/>
                <p style="text-decoration: line-through">{{postToDelete.post.postContent}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" ng-click="deletePost(postToDelete.post, postToDelete.postKey, '#confirm-post-delete')" class="btn btn-primary">Delete</button>
            </div>
        </div>
    </div>
</div>