<blockquote class="post" ng-repeat="postKey in objectKeys(posts)" ng-init="post = posts[postKey]">
    <div class="post-control" ng-if="post.author.username == credentialsService.getUsername()">
        <a href="" ng-click="post.showEditPostInput = !post.showEditPostInput">Edit</a>
        <a href="" ng-click="openDeletePostDialog(post, postKey, '#confirm-post-delete')">Delete</a>
        <div ng-include="'partials/post-dialog-window.html'"></div>
    </div>
    <div class="wall-post-to" ng-if="post.author.name != post.wallOwner.name">
        <a href="#/users/{{post.author.username}}">{{post.author.name}}</a>
        >
        <a href="#/users/{{post.wallOwner.username}}">{{post.wallOwner.name}}</a>
    </div>
    <div class="post-author">
        <div class="author-box" ng-mouseenter="post.showUserBalloon = true" ng-mouseleave="post.showUserBalloon = false" ng-click="post.showUserBalloon = !post.showUserBalloon">
            <a href="#/users/{{post.author.username}}">
                <img ng-src="{{post.author.profileImageData || 'img/anonymous.png'}}" class="post-author-img" alt=""/>
                <p class="post-author-name">{{post.author.name}}</p>
            </a>
            <div ng-if="post.showUserBalloon" class="user-info-balloon" ng-include="'partials/post-user-info-balloon.html'"></div>
        </div>
        <p class="date">{{post.date | date:"dd/MM/yyyy 'at' h:mma"}}</p>
    </div>
    <p ng-if="!post.showEditPostInput">{{post.postContent}}</p>
    <div class="edit-post" ng-if="post.showEditPostInput">
        <textarea ng-model="newPostContent" class="form-control"
        ng-init="newPostContent=post.postContent">{{post.postContent}}</textarea>
        <a class="btn btn-primary btn-xs" ng-click="editPost(post, newPostContent)">Save</a>
    </div>
    <div class="posts-comments-attributes">
        <span ng-mouseleave="post.showLikesBalloon = false">
            <span>
                <a class="likes-comments"
                     ng-mouseenter="getPostTopLikes(post)"
                     ng-click="post.showLikesBalloon = !post.showLikesBalloon"
                     href="">({{post.likesCount}})
                </a>
            </span>
            <div ng-if="post.showLikesBalloon" class="toplikes-balloon"
            ng-include="'partials/top-likes.html'"></div>
        </span>
        <a ng-if="!post.liked && (post.author.isFriend || post.author.username == credentialsService.getUsername() || post.wallOwner.isFriend)"
           href="" ng-click="likePost(post)">
            <img ng-src="img/like.png" alt=""/>
            Like</a>
        <span ng-if="!post.liked && !post.author.isFriend && post.author.username != credentialsService.getUsername() && !post.wallOwner.isFriend"
           >Likes</span>
        <a ng-if="post.liked" href="" ng-click="unlikePost(post)">
            <img ng-src="img/unlike.png" alt=""/>
            Unlike</a>

        <span class="likes-comments">({{post.totalCommentsCount}})</span>
        <a href=""
           ng-if="post.author.isFriend || post.author.username == credentialsService.getUsername() || post.wallOwner.isFriend"
           ng-click="post.showCommentInput = !post.showCommentInput">Comment
        </a>
        <span ng-if="!post.author.isFriend && post.author.username != credentialsService.getUsername() && !post.wallOwner.isFriend">
            Comments
        </span>

        <div ng-if="post.showCommentInput" class="add-comment-box">
            <textarea id="add-comment-area" class="form-control" ng-model="commentContent" placeholder="Your Comment.."></textarea>
            <a class="btn btn-primary btn-sm" ng-click="addNewComment(post, commentContent)">Add</a>
        </div>
    </div>
    <div ng-include="'partials/comments.html'"></div>
    <a href="" ng-if="post.totalCommentsCount > 3 && !post.hideAppendComments"
       ng-click="getCommentsByPostId(post)">
    Show all comments</a>
</blockquote>
<div ng-include="'partials/post-likes-dialog-window.html'"></div>
<div ng-include="'partials/comment-likes-dialog-window.html'"></div>

<div class="progress">
    <div id="posts-progress-bar" class="progress-bar" style="width: 0%"></div>
</div>