<div class="col-lg-6">
    <div class="well bs-component">
        <form class="form-horizontal">
            <fieldset>
                <legend>Edit Profile</legend>
                <div class="form-group">
                    <label for="name" class="col-lg-2 control-label">Name</label>
                    <div class="col-lg-10">
                        <input type="text" ng-model="name" class="form-control" id="name" placeholder="{{credentialsService.getName()}}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-lg-2 control-label">Email</label>
                    <div class="col-lg-10">
                        <input type="email" ng-model="email" class="form-control" id="email" placeholder="{{credentialsService.getEmail()}}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">Gender</label>
                    <div class="col-lg-10">
                        <div class="radio">
                            <label>
                                <input type="radio" ng-model="gender" name="optionsRadios" value="0">
                                male
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" ng-model="gender" name="optionsRadios"  value="1">
                                female
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10">
                        <label for="profileImageData">Profile Image</label>
                        <input type="file" fileread="profileImageData" id="profileImageData"/>
                        <p>limit: 128kb</p>
                        <img ng-src="{{profileImageData.src || credentialsService.getProfileImage()}}" id="edit-profile-image" alt="profile"/>
                        <p ng-if="profileImageData">size: {{(profileImageData.size / 1024).toFixed(2)}}kb</p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10">
                        <label for="coverImageData">Cover Image</label>
                        <input type="file" fileread="coverImageData" id="coverImageData"/>
                        <p>limit: 1024kb</p>
                        <img ng-src="{{coverImageData.src || credentialsService.getCoverImage() }}" id="edit-cover-image" alt="cover"/>
                        <p ng-if="coverImageData">size: {{(coverImageData.size / 1024).toFixed(2)}}kb</p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="submit"
                                ng-click="editProfile({
                                    name : name,
                                    email : email,
                                    gender : gender,
                                    profileImageData: profileImageData,
                                    coverImageData: coverImageData
                                })"
                                class="btn btn-primary">Edit
                        </button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>

