<a href="#/users/{{comment.author.username}}/wall">
	<img ng-src="{{comment.author.profileImageData || 'img/anonymous.png'}}" class="balloon-user-img" alt=""/>
</a>
<div class="user-info-balloon-attr">
	<a href="#/users/{{comment.author.username}}/wall">
	<span class="post-author-name">{{comment.author.name}}</span>
	</a>
	<p>{{comment.author.gender==0 ? 'male' : 'female'}}</p>
	<a ng-if="comment.author.username != credentialsService.getUsername()"
	   class="btn btn-primary btn-sm"
	   ng-click="addFriend(comment.author.username)">Add Friend
	</a>
</div>