<div class="wall">
    <div class="wall-owner" style="background-image:url({{userData.coverImageData}})">
        <div class="wall-attributes">
            <div class="wall-profile">
                <img class="wall-profile-image" src="{{userData.profileImageData}}" alt=""/>
                <p class="wall-profile-name">{{userData.name}}</p>
            </div>
            <div class="is-friend">
                <button id="add-friend-btn" ng-if="!userData.isFriend && !isCurrentUser && !userData.hasPendingRequest" class="btn btn-primary" ng-click="addFriend(userData.username)">Add Friend</button>
                <button id="is-friend" ng-if="userData.isFriend && !isCurrentUser" class="btn btn-primary" disabled>Friend</button>
                <button id="pending-request" ng-if="userData.hasPendingRequest" class="btn btn-primary" disabled>Pending Request</button>
            </div>
        </div>
    </div>
    <div class="posts-wrapper">
        <div class="add-post" ng-if="isCurrentUser">
            <textarea id="newPostInput" class="form-control" ng-model="newPost" placeholder="Write new post..."></textarea>
            <button id="add-post-button" class="btn btn-primary" ng-click="addNewPost(newPost, userData.username)">Post</button>
        </div>
        <div class="add-post" ng-if="!isCurrentUser && userData.isFriend">
            <textarea id="newFriendPostInput" class="form-control" ng-model="newFriendPost" placeholder="Post on {{userData.name}}`s wall..."></textarea>
            <button id="add-friend-post-button" class="btn btn-primary" ng-click="addNewPost(newFriendPost, userData.username)">Post</button>
        </div>
        <div class="posts" ng-include="'partials/posts.html'"></div>
    </div>
    <div class="top-friends" ng-include="'partials/top-friends.html'"></div>
</div>
