<div class="posts">
    <div class="wall-owner" style="background-image:url({{userData.coverImageData}})">
        <div>
            <img class="wall-profile-image" src="{{userData.profileImageData}}" alt=""/>
        </div>
        <div class="wall-owner-name">{{userData.name}}</div>
        <div class="is-friend">
            <button id="add-friend-btn" ng-if="!userData.isFriend && !isCurrentUser" class="btn btn-primary" ng-click="addFriend(userData.username)">Add Friend</button>
            <button id="is-friend" ng-if="userData.isFriend && !isCurrentUser" class="btn btn-primary" disabled>Friend</button>
        </div>
    </div>
    <div class="add-post" ng-if="isCurrentUser">
        <textarea id="newPostInput" class="form-control" ng-model="newPost" placeholder="Write new post..."></textarea>
        <button id="add-post-button" class="btn btn-primary" ng-click="addNewPost(newPost, userData.username)">Post</button>
    </div>
    <div class="add-post" ng-if="!isCurrentUser">
        <textarea id="newFriendPostInput" class="form-control" ng-model="newFriendPost" placeholder="Post on {{userData.name}}`s wall..."></textarea>
        <button id="add-friend-post-button" class="btn btn-primary" ng-click="addNewPost(newFriendPost, userData.username)">Post</button>
    </div>
    <blockquote ng-repeat="post in posts">
        <a href="#/users/{{post.author.username}}">
            <img src="{{post.author.profileImageData}}" class="post-author-img" alt=""/>
        </a>
        <small>{{post.author.username}}</small>
        <p>{{post.postContent}}</p>
        <small>{{post.date}}</small>
        <div class="post-attributes">
            <span>({{post.likesCount}})</span> <a href="#">Like</a>
            <span>({{post.comments.length}})</span> <a href="#">Comment</a>
        </div>
    </blockquote>
</div>
