<div class="posts" ng-controller="WallController">
    <div class="wall-owner" style="background-image:url({{userData.coverImageData}})">
        <img class="wall-profile-image" src="{{userData.profileImageData}}" alt=""/>
        <div>{{userData.name}}</div>
    </div>
    <div class="add-post" ng-if="isCurrentUser">
        <textarea class="form-control" placeholder="Write new post..." ng-model="newPost"></textarea>
        <button id="add-post-button" class="btn btn-primary" ng-click="addNewPost(newPost)">Post</button>
    </div>
    <blockquote ng-repeat="post in posts">
        <a href="#/users/{{post.author.username}}">
            <img src="{{post.author.profileImageData}}" class="post-author-img" alt=""/>
        </a>
        <small>{{post.author.username}}</small>
        <p>{{post.postContent}}</p>
        <small>{{post.date}}</small>
        <div class="post-attributes">
            <span>({{post.likesCount}})</span> <a href="#">Like</a>
            <span>({{post.comments.length}})</span> <a href="#">Comment</a>
        </div>
    </blockquote>
</div>
